:root {
  --truck-angle: -1.5deg;
}

.truck {
  z-index: 3;
  position: absolute;
  top: calc(138px - 0.025 * 100vw);
  right: 5%;
  aspect-ratio: 4 / 2;
  width: calc(150px + 0.1 * 100vw);
  height: auto;
  background: center/contain no-repeat url('/pics/truck.png');
  animation: shake 1s infinite linear;
}

@keyframes shake {
  0% {
    transform: rotate(var(--truck-angle)) translateY(0);
  }
  25% {
    transform: rotate(calc(var(--truck-angle) + 0.1deg)) translateY(-0.5px);
  }
  50% {
    transform: rotate(calc(var(--truck-angle) - 0.1deg)) translateY(0.5px);
  }
  75% {
    transform: rotate(calc(var(--truck-angle) + 0.05deg)) translateY(-0.3px);
  }
  100% {
    transform: rotate(var(--truck-angle)) translateY(0);
  }
}
