@use '../base' as *;

.footer {
  background: #111827;
  color: #f9fafb;
  padding: pg(400);
  padding-top: 0px;
  display: grid;
  gap: pg(400);

  .footer-inner {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  h3 {
    color: #f9fafb;
    font-size: fs(250);
    font-weight: 700;
    text-transform: uppercase;
  }

  .desc {
    color: #cbd5e1;
    font-size: fs(250);
    line-height: 1.5;
  }
  .footer-left {
    border-bottom: 1px solid #374151;
    padding: pg(400);
  }
  .footer-center {
    border-bottom: 1px solid #374151;
    padding: pg(400);
    display: grid;
  }
  .footer-right {
    padding: pg(400);
    padding-bottom: 0;
    gap: pg(100);
    display: grid;
  }

  .footer-center p,
  .footer-right p {
    font-size: fs(200);
    color: #e2e8f0;
  }

  .footer-center {
    h3 {
      margin-bottom: pg(50);
    }
    p {
      padding: 3px;
    }
  }

  .socials {
    display: flex;
    gap: pg(400);

    a {
      width: 42px;
      height: 42px;
      display: grid;
      place-items: center;
      border-radius: 50%;
      background: #b30000;
      color: #fff;
      font-size: 18px;
      transition:
        background 0.2s ease,
        transform 0.15s ease;

      &:hover {
        background: #8a0000;
        transform: translateY(-3px);
      }
    }
  }

  .footer-bottom {
    padding-top: pg(400);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;

    p {
      font-size: fs(200);
      color: #94a3b8;
    }
  }
  @include mq('bg') {
    padding-top: pg(600);
    .footer-inner {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-left {
      border-right: 1px solid #374151;
      border-bottom: none;
      padding: 0 pg(600);
    }
    .footer-center {
      border-right: 1px solid #374151;
      border-bottom: none;
      padding: 0 pg(600);
      justify-content: center;
    }
    .footer-right {
      padding: 0 pg(600);
      justify-content: center;
    }
  }
}
