@use '../base' as *;

.top_menu {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  height: 100px;
  background: #fff;
  z-index: 90;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);

  @include mq('sm') {
    grid-template-columns: 220px auto;
    padding: 5px pg(600);
  }

  .logo {
    height: 100%;
    background: url('/pics/logo.png') no-repeat center;
    background-size: contain;
  }
}
