@use '../base' as *;

.top_menu {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 20px 0;
  padding-bottom: 0px;
  height: max-content;
  background: #fff;
  z-index: 90;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);

  @include mq('md') {
    grid-template-rows: 1fr;
    grid-template-columns: 220px auto;
    padding: pg(200) pg(500);
    padding-left: pg(600);
    justify-content: space-between;
  }

  .logo {
    height: 70px;
    background: url('/pics/logo.png') no-repeat center;
    background-size: contain;
  }
}
