@use 'sass:map';
@use '../base/mixins' as mx;
@use '../base/functions' as fn;

:root {
  @include mx.base-root();

  font-size: fn.fs(200);
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

body > * {
  position: relative;
  z-index: 1;
  display: grid;
}
:root {
  --header-h: 150px;
  @include mx.mq('sm') {
    --header-h: 72px;
  }
}
html {
  // scroll-behavior: smooth;
  scroll-padding-top: var(--header-h);
}

section[id]::before {
  content: '';
  display: block;
  height: var(--header-h);
  margin-top: calc(-1 * var(--header-h));
  visibility: hidden;
  pointer-events: none;
}

main::after {
  content: '';
  display: block;
  height: var(--header-h);
}
