@using GCDS.Components
@using GCDS.Components.Animation

@page "/"

<PageTitle>Home</PageTitle>

<div class="home">
  <div class="top_menu">
    <div class="logo"></div>
    <Nav/>
  </div>
  <Animation>
    <div class="content">
      <h1>Start your truck driving career</h1>
      <p>
        Become a professional truck driver with our comprehensive training
        programs.
      </p>
    </div>
  </Animation>
</div>
