<section class="s1">
  <div class="logo">
    <div class="img"></div>
    <div class="text"></div>
  </div>
  <div class="job">
    <p>
      Guaranteed job offer and mentoring program after completing the
      training
    </p>
  </div>
  <div class="promo">
    <p>Training Courses for</p>
    <p>AZ • DZ • G2/G • Fork Lift</p>
    <p>Become an Ontario Licensed<br />Commercial Truck Driver</p>
  </div>

  <div class="call">
    <p>Call Us Today!</p>
    <p class="phone">(416)-999-7557</p>
  </div>

  <div class="contact">Start Training</div>
</section>
