<div class="clouds">
  <div class="clouds__layer clouds__layer--1">
    <svg viewBox="0 0 1000 180" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
      <g fill="#fff" opacity=".95">
        <path d="M60,95c20-25,60-25,80,0 25-18,55-10,65,10 30,5,45,15,50,30H10c6-18,18-31,50-40Z"/>
        <path d="M430,75c22-22,60-22,82,0 18-12,38-8,48,10 26,6,40,14,45,28H370c7-16,18-27,60-38Z" opacity=".9"/>
        <path d="M820,90c18-18,52-18,70,0 16-10,34-6,42,10 22,6,32,12,36,24H760c6-14,16-23,60-34Z" opacity=".85"/>
      </g>
    </svg>
    <svg viewBox="0 0 1000 180" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
      <g fill="#fff" opacity=".95">
        <path d="M60,95c20-25,60-25,80,0 25-18,55-10,65,10 30,5,45,15,50,30H10c6-18,18-31,50-40Z"/>
        <path d="M430,75c22-22,60-22,82,0 18-12,38-8,48,10 26,6,40,14,45,28H370c7-16,18-27,60-38Z" opacity=".9"/>
        <path d="M820,90c18-18,52-18,70,0 16-10,34-6,42,10 22,6,32,12,36,24H760c6-14,16-23,60-34Z" opacity=".85"/>
      </g>
    </svg>
  </div>

  <div class="clouds__layer clouds__layer--2">
    <svg viewBox="0 0 1000 180" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
      <g fill="#fff" opacity=".8">
        <path d="M120,70c22-22,60-22,82,0 18-12,38-8,48,10 26,6,40,14,45,28H60c7-16,18-27,60-38Z"/>
        <path d="M520,90c20-18,55-18,75,0 15-10,32-6,38,10 24,6,35,12,40,22H460c6-12,16-21,60-32Z"/>
      </g>
    </svg>
    <svg viewBox="0 0 1000 180" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
      <g fill="#fff" opacity=".8">
        <path d="M120,70c22-22,60-22,82,0 18-12,38-8,48,10 26,6,40,14,45,28H60c7-16,18-27,60-38Z"/>
        <path d="M520,90c20-18,55-18,75,0 15-10,32-6,38,10 24,6,35,12,40,22H460c6-12,16-21,60-32Z"/>
      </g>
    </svg>
  </div>

  <div class="clouds__layer clouds__layer--3">
    <svg viewBox="0 0 1000 180" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
      <g fill="#fff" opacity=".7">
        <path d="M200,80c22-22,60-22,82,0 18-12,38-8,48,10 26,6,40,14,45,28H140c7-16,18-27,60-38Z"/>
        <path d="M650,95c18-18,52-18,70,0 16-10,34-6,42,10 22,6,32,12,36,24H590c6-14,16-23,60-34Z"/>
      </g>
    </svg>
    <svg viewBox="0 0 1000 180" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
      <g fill="#fff" opacity=".7">
        <path d="M200,80c22-22,60-22,82,0 18-12,38-8,48,10 26,6,40,14,45,28H140c7-16,18-27,60-38Z"/>
        <path d="M650,95c18-18,52-18,70,0 16-10,34-6,42,10 22,6,32,12,36,24H590c6-14,16-23,60-34Z"/>
      </g>
    </svg>
  </div>
</div>
